.blurb {
	display: flex;
	flex-wrap: wrap;
	background-color: #424242;
	color: #ccc;
	padding: 1em 0.5em;
	line-height: 1;
	clear: fix;

	.block {
		@media (min-width: 60rem) {
			flex: 1 0 25%;
			width: 25%;
		}
		@media (min-width: 45rem) {
			flex: 1 0 50%;
			width: 50%;
		}
		padding: 0 0.5em;
		min-width: 15rem;
		@media (max-width: 15rem) {
			min-width: 100%;
		}
	}

	h2 {
		color: white;
		margin: 0.2em 0 0.2em 0;
	}

	p {
		margin: 0.5em 0 1em 0;
		line-height: 1.2;
	}

	a {
		color: white;
	}

	.cta {
		display: block;
		background-color: #eee;
		color: #333;
		padding: 0.5em;
		text-align: center;
		line-height: 1;
	}

	code {
		font-family: 'Inconsolata', monospace;
	}
}
