button {
	font-family: inherit;
	font-size: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #eee;
	padding: 0.5em 1em;
}

button:hover, button:active {
	background-color: #eaeaea;
}

button:disabled {
	cursor: default;
}

.icon {
	font-size: 0.8em;
}

select {
	font-size: inherit;
	font-family: inherit;
	position: relative;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
	padding: 0.5em 3em 0.5em 0.5em;
	background: #eee url(images/select-arrow.svg) no-repeat 100% 50%;
	background-size: auto 100%;
	outline: none;
}

input {
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	padding: 0.5em;
	border: none;
	outline: none;
	line-height: 1;
	color: #333;
}

input:focus {
	background-color: #eee;
}
