body > header {
	@media (min-width: 45rem) {
		z-index: 10;
		position: fixed;
		width: 100%;
		top: 0;
	}
	overflow: hidden;
	background-color: white;
	border-bottom: 1px solid #eee;
	color: #222;
	padding: 1em 1em 1em 3.6em;
	background-color: #f9f9f9;

	.logo {
		position: absolute;
		left: 0;
		top: 0;
		width: 3.6em;
		height: 3.6em;
		background-image: url(/logo.svg);
		background-repeat: no-repeat;
		background-position: 0.5em 50%;
		background-size: auto 80%;
	}

	h1 {
		font-size: 1.6em;
		line-height: 1;
		margin: 0;
		float: left;
	}

	.version {
		font-size: small;
		opacity: .7;
		margin-bottom: 0;
	}

	nav {
		float: right;
	}

	nav a {
		color: #222;
	}
}
