@import './layout.css';
@import './button.css';
@import './typography.css';

/* sections */
@import './header.css';
@import './blurb.css';
@import './main.css';

/* overrides */
@import './codemirror.css';

/* misc */
.clearfix {
	clear: fix;
}

.sorry {
	max-width: 40em;
	margin: 4em auto 0 auto;

}
