body > main {
	display: flex;
	flex-wrap: wrap;
	min-height: 100%;
	background-color: white;
	z-index: 6;

	h2 {
		margin: 0 0 1em 0;
	}

	.left, .right {
		width: 100%;
		@media (min-width: 45rem) {
			flex: 1 0 50%;
			width: 50%;
		}
		height: 100%;
		float: left;
		overflow-y: auto;
		padding: 1em;
		min-width: 22.5rem;
		@media (max-width: 22.5rem) {
			min-width: 100%;
		}
	}

	@media (min-width: 45rem) {
		position: fixed;
		top: 3.6em;
	}

	.left {
		@media (min-width: 45rem) {
			border-right: 1px solid #eee;
		}

		/*h2 {
			text-align: right;
		}*/
	}
}

.blurb {
	h2 {
		font-size: 1.4em;
		margin: 1em 0 0 0;
		line-height: 1;
	}

	p {
		margin: 1em 0;
	}
}

.hero {
	max-width: 64em;
	margin: 0 auto 2em auto;
	border-bottom: 2px solid rgba(239,51,53,0.4);
}

.hero strong {
	position: relative;
	font-size: 8em;
	font-weight: 400;
	left: -0.03em;
}