@font-face{
	font-family: 'Inconsolata';
	src: url('fonts/Inconsolata/Inconsolata-Regular.ttf') format('truetype');
}

@font-face{
	font-family: 'Inconsolata';
	src: url('fonts/Inconsolata/Inconsolata-Bold.ttf') format('truetype');
	font-weight: 500;
}

@font-face{
	font-family: 'Source Sans Pro';
	src: url('fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face{
	font-family: 'Source Sans Pro';
	src: url('fonts/Source_Sans_Pro/SourceSansPro-Light.ttf') format('truetype');
	font-weight: 200;
}

@font-face{
	font-family: 'Source Sans Pro';
	src: url('fonts/Source_Sans_Pro/SourceSansPro-Semibold.ttf') format('truetype');
	font-weight: 500;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: #555;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

h1, h2 {
	margin: 0;
	font-weight: normal;
	color: #222;
}

h3, h4, h5, h6 {
	font-weight: 500;
	margin: 0 0 0.5em 0;
	color: #222;
}

p {
	margin: 0 0 1em 0;
}

a {
	color: rgb(103, 58, 183);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

pre, code {
	font-family: Inconsolata;
}

strong, b {
	font-weight: 500;
}

li {
	margin: 0 0 0.5em 0;
}
