@font-face {
	font-family: 'Inconsolata';
	src: local('Inconsolata Bold'), local('Inconsolata-Bold'),
		url('/fonts/Inconsolata/Inconsolata-Bold.woff2') format('woff2'),
		url('/fonts/Inconsolata/Inconsolata-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Inconsolata';
	src: local('Inconsolata'), local('Inconsolata-Regular'),
		url('/fonts/Inconsolata/Inconsolata-Regular.woff2') format('woff2'),
		url('/fonts/Inconsolata/Inconsolata-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	position: relative;
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #fff;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: #555;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	overflow-y: scroll;
}

main {
	padding: 3em 0 0 0;
	overflow-x: hidden;
}

code, pre {
	font-family: 'Inconsolata', monospace;
	font-weight: 400;
	line-height: 1.2;
}

pre {
	overflow-x: auto;
}

h1, h2, h3 {
	margin: 0;
	font-weight: 300;
	padding: 0.5em 0;
	line-height: 1.2;
}

a {
	text-decoration: none;
	color: rgb(170,30,30);
}

strong {
	font-weight: 800;
}

.clearfix:before,
.clearfix:after {
	content: ' ';
	display: table;
}

.clearfix:after {
	clear: both;
}

@media (min-width: 768px) {
	main {
		padding: 3.6em 0 0 0;
	}
}

.hljs,
.hljs-subst {
	color: #333;
}

.hljs-comment {
	color: #999;
}

.hljs-tag {
	color: #170;
}

.hljs-keyword {
	color: #708;
}

.hljs-attr {
	color: #333;
}

.hljs-number {
	color: #164;
}

.hljs-type,
.hljs-string,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
	color: #aa1e1e;
}

.hljs-title,
.hljs-section {
	color: #aa1e1e;
}

.hljs-literal {
	color: #170;
}

.hljs-meta {
	color: #555;
}

.hljs-meta-string {
	color: #555;
}
